.git
.direnv
.envrc
.editorconfig
.gitignore
.vscode
src/**
test/**
neovim/**
node_modules/**
AGENT.md
flake.nix
flake.lock
tsconfig.json
tsconfig.build.json
vitest.config.ts
esbuild.mjs
**/*.map
**/*.ts
**/*.d.ts
**/*.d.ts.map
!dist/extension.js
!dist/server.js
